@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor


<h4>Add treats to this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>